.houseCommentList {
    padding: 0px;
}

.houseCommentList > h2 {
    /* font-size: 1.5rem; */
    color: black;
}

.houseCommentList > .commentForm {
    display: flex;
    flex-wrap: wrap;
}

.houseCommentList > .commentForm > label {
    margin-bottom: 15px;
    font-weight: 600;
}

.houseCommentList > .commentForm > .rating {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
}

.houseCommentList > .commentForm > .rating > span {
    padding: 10px 20px 10px 0;
    font-weight: 600;
}

.houseCommentList > .commentForm > button {
    background-color: red;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    padding: 8px 15px;
    margin-top: 10px;
}

/* comments */
.commentItem {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.commentItem > .content {
    width: 100%;
}

.commentItem > .commentTitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.commentItem .content p {
    color: black;
    padding: 15px;
}

.commentItem .content p.collapse {
    display: block;
    max-height: 50px;
    overflow: hidden;
}

.commentItem > .commentTitle .user {
    display: flex;
    align-items: center;
}

.commentTitle img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.commentTitle .userInfo {
    margin-left: 15px;
}

.readMore {
    display: inline-block;
    margin-top: 10px;
    color: #f65e39;
}

.readMore:hover {
    color: black;
}