.houseCarousel {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
}

.houseCarousel > .glideSlide {
    max-height: 36vw;
}

.houseCarousel > .glideSlide > .glide__arrows {
    left: 3vw;
    right: 3vw;
}